/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  
}

h1 {
  font-style: italic;
  color: #373fff;
}

.container {

}

.application {
  border: 3px solid black;
  width: 320px;
  margin: 0 auto;
}


header {
  
}

.application p {
  
  font-size: 12px;
  text-align: right;
  margin-right: 5px;
  margin: 0;
  background-color: yellow;
}

.application h1 {
  font-size: 54px;
  margin: 1px;
  text-align: center;
  background-color: black;
  color: white;
}

.application h1:hover {
  color: red; 
}

ul {
  padding-left: 0;
  margin: 2px;
}

ul li {
  list-style: none;
  
  border: 3px solid black;
  margin: 2px 2px 0 2px;
  
  display: flex;
}

li:second-child {
  flex-grow: 1;
}

.toggleAll {
  width: 100%;
}

.toggleAll button {
  background-color: red;
  color: yellow;
  width: 100%;
}

.toggleButton {
  font-size: 12px;
  display: inline-block;
  width: 10px;
  height: 8px;
  margin: 8px;
  border: 2px solid black;
  border-bottom: 0;
}

.toggleButton:hover {
  background-color: red;
}

.on {
  background-color: darkred;
}

.off {
  background-color: yellow;
}

.addContainer {
  margin: 0;
  border: 0;
  margin-top: 2px;
}

.addButton {
  width: 100%;
  background-color: lightgreen;
  
}